footer {
    background-color: #f1f1f1;
    padding: 20px 0;
  }
  
  .dibu {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .zanzhu, .zhence {
    flex: 1;
    text-align: center;
  }
  
  .zuozhe {
    flex: 2;
    text-align: center;
  }